{% extends 'base.html.twig' %}
{% block title %}
<h1> Pagina Principal </h1>
 - imagen o foto de los consultorios
 - dirección y telefono
 - mapa de ubicación


{% endblock %}
{% block body %}

{% endblock %}
