{% extends 'base.html.twig' %}
{% block title %}
Consultorios Piria
{% endblock %}
{% block nav %}{% endblock %}
{% block body %}
<h1> Pagina Principal </h1>
 - imagen o foto de los consultorios
 - dirección y telefono
 - mapa de ubicación
{% endblock %}
