{% extends 'base.html.twig' %}
<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/modern-business.css" rel="stylesheet">
{% block stylesheets %}{% endblock %}
{% block body %}
<h1> Pagina Principal </h1>
 - imagen o foto de los consultorios
 - dirección y telefono
 - mapa de ubicación
{% endblock %}
