{% extends 'base.html.twig' %}

{% block body %}
<div class="">
<h1> Pagina Principal </h1>
<ul>
  <li>- imagen o foto de los consultorios</li>
  <li>- dirección y telefono</li>
  <li>- mapa de ubicación</li>
</ul>

</div>

{% endblock %}
