{% extends 'base.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block title %}
Profesionales
{% endblock %}
{% block body %}
<h1> Registro de Profesionales</h1>
{% endblock %}
{% block javascripts %}{% endblock %}
